<div class="modal-header" ngbAutoFocus>
  <div class="d-flex justify-content-between w-100">
    <h3 class="modal-title mb-0">{{title}}</h3>
  </div>
</div>

<div class="modal-body">
  @for (component of components; track component) {
    <div class="d-flex" (click)="addComponent(component)">
      <span>{{component.type}}</span>
      <i class="ri-lg ri-add-circle-fill text-success"></i>
    </div>
  }
</div>

<div class="modal-footer">
  @for (btn of btns; track btn) {
    <button type="button" class="btn btn-outline-dark" (click)="btnClick(btn.click)">{{btn.text}}</button>
  }
</div>
