.input-search{
  position: relative;
  display: flex;

  input{
    padding-right: 35px;
  }

  .input-search-icon{
    position: absolute;
    right: 10px;
    top: 3px;
    align-self: center;
    font-size: 1.2rem;
    color: #7987a1;
  }
}
